<div class="row" style="margin-bottom: 40px;">
    <!-- FAQ CHATBOT TITLE -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30 text-center">
        <h2>Covid-19 FAQ Chatbot</h2>
    </div>
</div>

<hr>

<br>

<!-- CHATBOT MENU -->
<!-- 
<div class="menu">
    <div class="row" style="margin-bottom: 20px;">
        DROPDOWN SELECTION DATASET
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label class="control-label required" for="select">Dataset</label>
                <div class="select">
                    <select id="select" class="form-control" name="dataset" [(ngModel)]="dataset" [disabled]="dataset==='CovidFAQ'" (change)='onDatasetSelection($event)' >
                        <option *ngFor="let dataset of datasets" [value]="dataset">
                            {{dataset}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        DROPDOWN SELECTION ELASTICSEARCH FIELD
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label class="control-label required" for="select">Matching Field</label>
                <div class="select">
                    <select id="select" class="form-control" name="field" [(ngModel)]="field">
                        <option *ngFor="let field of fields" [value]="field">
                            {{field}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        DROPDOWN SELECTION TOP K
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label class="control-label required" for="select">Top K</label>
                <div class="select">
                    <select id="select" class="form-control" name="top_k" [(ngModel)]="top_k">
                        <option *ngFor="let top_k of top_k_options" [value]="top_k">
                            {{top_k}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        RADIO BUTTON SELECTION LOSS TYPE
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 mb30 text-center">
            <form action="" data-toggle="validator">
                <label class="control-label required" for="select">Loss</label>
                <div class="form-inline required">
                    <div class="form-group has-feedback" *ngFor="let ltype of loss_types" style="margin-right: 5px;">
                        <label class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="ltype" [(ngModel)]="loss_type" [value]="ltype" />
                            </span>
                            <div class="form-control form-control-static">
                                {{ltype}}
                            </div>
                            <span class="glyphicon form-control-feedback "></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>

        RADIO BUTTON SELECTION NEGATIVE TYPE
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 mb30 text-center">
            <form action="" data-toggle="validator">
                <label class="control-label required" for="select">Negative Sampling</label>
                <div class="form-inline required">
                    <div class="form-group has-feedback" *ngFor="let ntype of neg_types" style="margin-right: 5px;">
                        <label class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="ntype" [(ngModel)]="neg_type" [value]="ntype" />
                            </span>
                            <div class="form-control form-control-static">
                                {{ntype}}
                            </div>
                            <span class="glyphicon form-control-feedback "></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>

        RADIO BUTTON SELECTION QUERY TYPE
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 mb30 text-center">
            <form action="" data-toggle="validator">
                <label class="control-label required" for="select">Training Data</label>
                <div class="form-inline required">
                    <div class="form-group has-feedback" *ngFor="let qtype of query_types" style="margin-right: 5px;">
                        <label class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="qtype" [(ngModel)]="query_type" [value]="qtype" />
                            </span>
                            <div class="form-control form-control-static">
                                {{qtype}}
                            </div>
                            <span class="glyphicon form-control-feedback "></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div> 

</div>
-->

<div class="row" style="margin-bottom: 50px;">
    <!-- CHATBOT SECTION -->

        <ng-template [ngIf]="selectionDataset" [ngIfElse]="noslider">
            <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
                <div class="custom-slider">
                    <ngx-slider [(value)]="value" [options]="options" (valueChange)="changeDate($event)"></ngx-slider>
                </div>
            </div>
        </ng-template>
        
        <ng-template #noslider>
            
        </ng-template>  

</div>

<div class="alert alert-success" role="alert" *ngIf="selectedDate; else no_selection">
    <strong>You will get FAQs published until {{selectedDate}}, which are related to these topics:</strong>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3" *ngFor="let item of selectedTopics; let i = index">
            <ul>
                <li >
                    <small>{{ item }}</small>
                </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #no_selection></ng-template> 
<!--
<div class="row">
    <div class="col-md-12">
        <span *ngFor="let t of selectedTopics" class="label label-default" style="margin-right: 3px;">{{t}}
        </span>
    </div>
</div>
-->

<div class="row">
    <!-- CHATBOT SECTION -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
        <div class="panel panel-default">

            <div class="box box-success direct-chat direct-chat-success">
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">

                        <ng-container *ngFor="let chat of chats">
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg" *ngIf="chat?.type =='bot' && !chat?.isMe ">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left" style="margin-left: 10px;"> Bot</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="../../../assets/img/bot.png" alt="Message User Image">
                                <!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    
                                    <!-- CHECK IF BOT ANSWER CONTAINS MORE THAN 1 MESSAGE -->
                                    <div *ngIf="(chat?.message)?.length > 1; else one_message ">
                                        
                                       
                                        <!-- LOOP THROUGH ALL BOT ANSWERS AND DISPLAY SHOW MORE OR SHOW LESS BUTTON -->
                                        <!-- IN CASE MORE THAN 3 RESULTS ARE RETURNED --> 
                                        <div *ngFor="let result of chat.message | slice : startPage:paginationLimit let i = index;">
                                          
                                            <div id="botmessage">
                                                <div class="comment-text" style="margin-bottom:3px;">
                                                    {{i + 1}}) {{ chat.message[i]?.answer }}
                                                </div>
                                                <div>-- By <strong><a href="{{ chat.message[0]?.sourceUrl }}" target="_blank">{{ chat.message[i]?.sourceName }}, {{ chat.message[i]?.date }}</a></strong></div>
                                                <!--<div>Date:   {{ chat.message[i]?.date }}</div>
                                                <div>Score:  {{ chat.message[i]?.score }}</div>-->
                                            </div>
                                        </div>

                                        <button class="btn-sm btn-default" style="border-radius: 12px; margin-right:5px;" *ngIf=" paginationLimit < (chat.message).length" (click)="showMore()">
                                            Show More
                                        </button>
                                        <button class="btn-sm btn-default" style="border-radius: 12px;" *ngIf="paginationLimit > 1" (click)="showLess()">
                                            Show Less
                                        </button> 
                                    </div>

                                    <!-- CHECK IF BOT ANSWER CONTAINS ONE MESSAGE DISPLAY (WELCOME, ERROR OR DIALOGFLOW MESSAGE) -->
                                    <ng-template #one_message>
                                        {{chat.message[0].answer}}
                                    </ng-template>
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->

                            <!-- Message to the right -->
                            <div class="direct-chat-msg right" *ngIf="chat?.type !=='bot' && chat?.isMe">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right" style="margin-right:13px;">Me</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="../../../assets/img/user.jpeg"
                                    alt="Message User Image">
                                <div class="direct-chat-text" style="float: right">
                                    {{chat?.message}}
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->

                        </ng-container>
                    </div>
                    <!--/.direct-chat-messages-->
                </div>

                <div class="box-footer">
                    <div class="input-group">
                        <input type="text" name="message" [(ngModel)]="message" (keyup.enter)="sendMessage()"
                            placeholder="Type Message ..." class="form-control">
                        <span class="input-group-btn">
                            <button (click)="sendMessage()" class="btn btn-success btn-flat" [disabled]="message === ''">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>